@import "fonts.css";

/* 
thistle
tomato
lilac
lavender
*/


/* 
  Correct the font size and margin on `h1` elements within `section`  and `article` contexts in Chrome, Firefox, and Safari.
*/
h1 { font-size: 2em; margin: 0.67em 0; }

*::selection, *::-moz-selection {
  background: #ffb7b7;
  /* WebKit/Blink Browsers; Gecko Browsers */
}

:root {
  --menu-toggle-transition-value: .60s;
  --lightdark-transition-value: .3s;
  --lightdark-typebtn-bgc: #00BCD4;
  --lightdark-addnew-bgc: #03dac4;
  --lightdark-addnew-bgc-darker: #258872;
}

/* reset input styling */

input, button, submit, textarea {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
}

div:focus {
  outline: none;
}

/* /reset input styling */

.disabled {
  cursor: default !important;
  color: rgba(0, 0, 0, 0.3) !important;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

body {
  background-color: rgb(30, 30, 30);
}

#app {
  font-family: 'Open Sans';
  background-color: white;
  background-color: whitesmoke;
  background-color: ghostwhite;
  /* background-color: white; */
}

#app.activity_panel_slider_open {
  overflow: hidden;
}

#app.darkmode {
  color: #e3e3e3;
  color: lightgray;
  background-color: rgb(30, 30, 30);
  /* background-color: rgb(30, 30, 30); */
}

#modal_container {
  display: none;
}

#app.modal_open #modal_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
}

#page-wrapper {
  background-color: rgba(0, 0, 0, 0.0);
  /* opacity: 1; */
  height: calc(100vh - 56px);
  overflow-y: auto;
  overflow-y: scroll;
  /* transition: background-color var(--menu-toggle-transition-value), opacity var(--menu-toggle-transition-value); */
  transition: background-color .8s;
}

.activity_panel_slider_open #page-wrapper {
  /* background-color: rgb(36,36,36);
  background-color: rgb(30,30,30); */
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: .2; */
}

/* #tint-bgc {
  background-color: rgba(0,0,0,0.0);
  transition: background-color var(--menu-toggle-transition-value);
}

#app.activity_panel_slider_open #tint-bgc {
  background-color: rgba(0,0,0,0.5);
}

#tint-opa {
  opacity: 1;
  /*filter: blur(0);*/

/*transition: opacity var(--menu-toggle-transition-value);
}

#app.activity_panel_slider_open #tint-opa {
  opacity: .5;
  /*filter: blur(3px);*/

/*    -webkit-transform: translateZ(0);*/

/*} */

.lightdark {
  transition: background-color var(--lightdark-transition-value), box-shadow var(--lightdark-transition-value), border var(--lightdark-transition-value);
}
.lightdark_w_color {
  transition: color var(--lightdark-transition-value), background-color var(--lightdark-transition-value), box-shadow var(--lightdark-transition-value), border var(--lightdark-transition-value);
}

/* placeholder for varialbe input width calculation when arrowed between tags */

.input_width_placeholder {
  display: none;
  display: inline-block;
  white-space: pre;
  font: inherit;
  margin: 0;
  padding: 0;
  visibility: hidden;
  position: absolute;
  height: 0px;
}

.addedittag_zone div.search.input_before_tags {
  flex: initial;
  min-width: 2px;
  width: 2px;
}

div.search.input_before_tags .border, div.search.input_before_tags input.search {
  min-width: 2px;
}

/****** switch (w3schools) ******/

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fadb7e;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider::before {
  border-radius: 50%;
  position: absolute;
  font-family: "Material Icons";
  content: "brightness_5";
  background-color: #FFC107;
  color: whitesmoke;
  font-size: large;
  height: 26px;
  width: 26px;
  left: -5px;
  bottom: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked+.slider {
  background-color: #725892;
}

input:checked+.slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "brightness_3";
  background-color: #c38fff;
  color: rgb(45, 45, 45);
}

/****** tags ******/

.tag_item {
  position: relative;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 1px;
  margin-right: 1px;
  font-family: 'Open Sans';
  border-radius: 8px;
  border-radius: 20px;
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
  transition: filter 1s, background-color 1s;
  transition: filter 1s, background-color var(--lightdark-transition-value), color var(--lightdark-transition-value), border var(--lightdark-transition-value);
  border: 1px solid transparent;
  outline: none;
}

.darkmode .tag_item {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid;
}

.identifier_tag_zone .tag_item {
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.tag_item:focus {
  box-shadow: 0 0 0 2pt rgba(0,0,0,0.2);
}

.darkmode .tag_item:focus {
  box-shadow: 0 0 0 2pt rgba(255,255,255,0.2);
}

.tag_item.tag_ranges_shown,
.tag_item:focus.tag_ranges_shown {
  box-shadow: 0 0 0 2pt #2196F3;
}

.addedittag_zone>.tag_item {
  padding-right: 25px;
  margin: 2px;
  cursor: pointer;
}

.cleartag_btn {
  position: absolute;
  top: 0;
  top: 1px;
  right: 0;
  right: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: calc(100% - 2px);
  width: 23px;
  width: 21px;
  padding: 0;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color .2s;
}

.cleartag_btn.readied,
.cleartag_btn:focus {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0s;
}

.cleartag.material-icons {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.2);
  color: inherit;
}

.tag_item.blur_tag {
  filter: blur(2px);
  transition: filter 0s;
}

.tag_item.blink_tag {
  filter: brightness(2);
  transition: filter 0s;
}

.darkmode .tag_item.blink_tag {
  filter: initial;
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0s;
}

h3 .tag_item {
  overflow: initial;
}

.tag_item.new_tag {
  padding-left: 17px;
}

/* .new_tag:before {
  content: "fiber_manual_record";
  font-family: "Material Icons";
  color: greenyellow;
  color: #89ff00;
  position: absolute;
  left: 5px;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 12px;
  font-size: 10px;
  font-size: 6px;
} */

.new_tag:before {
  content: "";
  position: absolute;
  background-color: #89ff00;
  background-color: lawngreen;
  background-color: #00d609;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  left: 3px;
  top: 50%;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 2px solid white;
  transform: translateY(-50%);
  transition: border-color var(--lightdark-transition-value), box-shadow var(--lightdark-transition-value);
}

.darkmode .new_tag:before {
  border-color: #1a1a1d;
  box-shadow: none;
}

/** Nice colors/color pairings:
#b3e6c9 #20603d (light, dark green)
#ffb884 #845430 (light orange, brown)
#b1d8ff #295c8e (light, dark navy/indigo)
#beeeff #2a6980 (different navy/indigo)
#ffdaea #ac1556 (light, dark crimson)
#8a6191         (plummish)
#447d9f         (ceruleish)
#ebaeaf #882e2f (light, dark brownish red)
#ffc2af #e97004 (another orange combo)
#cdff96 #376109 (another light + dark green)
#d1f290 #577619 (ugly tbh)
#ffe596 #f3ff96 #b68728 #79840f (various gold/green)
* old qua-subtype colors *
#b3e6c9 #20603d;
#c9e6b3 #1e6c41;
#f9d196 #7c684b;
#fcac92 #7e5649;
* old story colors *
#a5d9db #206567
#faa9a4
*****
#f88c84 (Watermellony)

**/

.tag_blank {
  background-color: floralwhite;
  color: rgb(30, 30, 30);
}

.tag_type {
  background-color: #ffdaea;
  color: #ac1556
}

.tag_turn {
  background-color: #e5ffaa;
  color: #7c9a39;
}

.tag_story {
  background-color: #ff6d6f;
  color: #5b0e0f;
}

.tag_character {
  background-color: #f5beff;
  color: #651b72;
}

.tag_group {
  background-color: #ddbeff;
  color: #673a99;
}

.tag_locale {
  background-color: #c1beff;
  color: #322da2;
}

.tag_formcons {
  background-color: #bed5ff;
  color: #365284;
}

.tag_numen {
  background-color: #cae5f5;
  color: #145880;
}

.tag_passage {
  background-color: #009688;
  color: #003e38;
}

.tag_relation {
  background-color: #8BC34A;
  color: #325d00;
}

.tag_motif {
  background-color: #FFC107;
  color: #5d4600;
}

.tag_theme {
  background-color: #FF9800;
  color: #5d3700;
}

.tag_orphan {
  background-color: rgb(235, 235, 235);
  color: #a7a7a7;
}

.ent_alias {
  opacity: .5;
}

.darkmode .tag_blank {
  color: whitesmoke;
}

.darkmode .tag_type {
  color: #ffdaea
}

.darkmode .tag_turn {
  color: #e5ffaa;
}

.darkmode .tag_story {
  color: #ff6d6f;
}

.darkmode .tag_character {
  color: #f5beff;
}

.darkmode .tag_group {
  color: #ddbeff;
}

.darkmode .tag_locale {
  color: #c1beff;
}

.darkmode .tag_formcons {
  color: #bed5ff;
}

.darkmode .tag_numen {
  color: #cae5f5;
}

.darkmode .tag_passage {
  color: #009688;
}

.darkmode .tag_relation {
  color: #8BC34A;
}

.darkmode .tag_motif {
  color: #FFC107;
}

.darkmode .tag_theme {
  color: #FF9800;
}

.darkmode .tag_orphan {
  color: rgb(235, 235, 235);
}

/*#00BCD4*/

/*#03dac4*/

/*#c38fff*/

/*#c38fff80*/

/****** search (generic) ******/

div.search .border {
  /*z-index: 1;*/
  width: 100%;
  /* change depending your container */
  position: relative;
  border: thin solid gray;
  background-color: white;
  /*box-shadow: 5px 5px 10px rgba(0,0,0,0.2); /* uncomment as desired */
}

div.search input {
  outline: 0;
  border: 0;
  width: 100%;
  text-align: left;
  background-color: transparent;
  margin-top: 2px;
}

div.search .results {
  z-index: 1;
  display: none;
  width: 100%;
  position: absolute;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  min-width: 150px;
}

.darkmode div.search .results {
  background-color: rgb(65, 65, 65);
  background-color: rgb(45, 46, 48);
}

div.search.oninput:focus-within .results {
  display: block;
  width: 100%;
}

div.search .result {
  position: relative;
  /*    z-index: 1;*/
  background-color: ghostwhite;
  background-color: whitesmoke;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 5px;
}

.darkmode div.search .result {
  background-color: transparent;
}

div.search .result:active,
div.search .result.selected {
  background-color: lightgray;
}

.darkmode div.search .result:active,
.darkmode div.search .result.selected {
  background-color: rgb(63, 65, 67);
}

.match {
  background-color: rgba(0, 0, 0, 0.2);
}

.darkmode .match {
  background-color: rgba(255, 255, 255, .1);
}









/****** header-search ******/

#header-search div.search .result {
  border: none;
}

#header-search {
  padding-top: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

#header-search div.search .border {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
  position: relative;
  font-size: x-large;
}

.darkmode #header-search div.search .border {
  background-color: rgb(50, 50, 50);
}

#header-search div.search .border::before {
  border-bottom: 3px solid #a1a1a1;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  transition: border-color var(--lightdark-transition-value);
}

.darkmode #header-search div.search .border::before {
  border-bottom: 3px solid #232323;
}

#header-search div.search .border::after {
  content: "";
  border-bottom: 3px solid #ff6d6f;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0%;
  transition: left .5s, width .5s, border-color .2s;
}

#header-search div.search.invalid.focused .border::after {
  border-color: #ff6d6f;
}

#header-search div.search.nonextant.focused .border::after {
  border-color: #5ed363;
}

#header-search div.search.extant.focused .border::after {
  border-color: #03a9f4;
}

#header-search div.search.focused .border::after {
  border-color: #ff6d6f;
  width: 100%;
  left: 0%;
}

#header-search div.search input {
  text-align: center;
}

#header-search div.search .results {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/****** section.page_subject ******/

section#page_subject {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.header_block h1 {
  display: inline-block;
  margin-bottom: 0;
}

.margin-span {
  margin-right: 1vw;
}

/****** single_note ******/

.single_note {
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color .1s;
  background-color: rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.03);
  /* background-color: transparent; */
  border-radius: 5px;
}

.darkmode .single_note {
  background-color: rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.02);
}



.single_note_description_zone {
  flex: 1;
}

.single_note_title {
  white-space: pre;
  font-size: x-large;
  padding-top: 10px;
  padding-bottom: 10px;
}

.single_note_description {
  white-space: pre;
  display: inline-block; /*for testing ranges!!!*/
  position: relative;
}

.posabs_descr_range {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  /* opacity: .7; */
}

.posabs_descr_range mark.ranges_mark {
  box-shadow: 0 0 0 2pt #2196F3;
  color: black;
}
.darkmode .posabs_descr_range mark.ranges_mark {
  box-shadow: 0 0 0 2pt #2196F3;
  color: transparent;
}

.single_note_edit_btn_section {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.edit_context_btn {
  top: 10px;
  position: sticky;
  padding: 10px;
  /* background-color: rgba(0,0,0,0.1); */
  cursor: pointer;
  border-radius: 5px;
}

.single_note_type_identifier {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  transition: height .2s, background-color var(--lightdark-transition-value), border-color var(--lightdark-transition-value);
  position: relative;
  overflow: hidden;
}

.darkmode .single_note_type_identifier {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.identifier_header {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  /* position: absolute; */
}

.showmore {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  padding-left: 23px;
  cursor: pointer;
}

.darkmode .showmore {
  color: rgba(255, 255, 255, 0.7);
}

.showmore:before {
  content: "keyboard_arrow_down";
  font-family: "Material Icons";
  position: absolute;
  height: 100%;
  left: 0;
  font-size: x-large;
  display: flex;
  align-items: center;
  font-weight: 300;
  justify-content: center;
  transition: transform .2s;
}

.showmore.clicked:before {
  transform: rotate(180deg);
}

.identifier_tag_zone {
  /* border-top: 1px solid rgba(0,0,0,0.1); */
  padding: 10px;
  display: flex;
  align-items: center;
}

/****** menu ******/

#menu {
  /* https://stackoverflow.com/questions/16094785/have-a-fixed-position-div-that-needs-to-scroll-if-content-overflows */
  /*    transform: translateZ(0);transform: translateZ(0);*/
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* height: 50px; */
  background-color: whitesmoke;
  background-color: floralwhite;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  /* transition: height var(--menu-toggle-transition-value), padding-top var(--menu-toggle-transition-value), background-color var(--lightdark-transition-value); */
  /* transition: height .8s, padding-top .8s, background-color var(--lightdark-transition-value); */
  /* -webkit-transform: translateY(-90%);
  transform: translateY(-90%); */
  transform: translateY(100%) translateY(-56px);
  transition: transform .7s, padding-top .7s, background-color var(--lightdark-transition-value);
  will-change: transform;
}

.darkmode #menu {
  background-color: rgb(45, 45, 45);
  background-color: rgb(32, 33, 36);
}

#nav_menu_btns {
  position: relative;
  z-index: 1;
  width: calc(100% - 30px);
  height: 50px;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: transparent;
  padding: 5px;
  padding: 3px;
  padding-left: 15px;
  padding-right: 25px;
  padding-right: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#lightdark_switch_container {
  /* height: 100%; */
  display: flex;
  /* padding: 10px; */
}

#view_notebooks_btn {
  height:100%;
  width: 50px;
  padding: 5px;
  position: relative;
  cursor: pointer;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: background-color var(--lightdark-transition-value);
}
/* 
.darkmode #view_notebooks_btn {
  background-color: indianred;
} */

#view_notebooks_btn:after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  height: 0px;
  width: 0px;
  border-radius: 50%;
  transition: height .1s, width .1s, border-radius .2s ease-in-out;
}

.darkmode #view_notebooks_btn:after {
  background-color: rgba(255, 255, 255, 0.1);
}

#view_notebooks_btn:hover:after,
#view_notebooks_btn.notebooks_panel:after {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#app.activity_panel_slider_open #menu {
  /* height: calc(100% + 50px); */
  /* height: 100%; */
  padding-top: 0;
  -webkit-transform: none;
  transform: none;
  transition: transform .7s, padding-top .7s, background-color var(--lightdark-transition-value);
  will-change: transform;
  /* top: 0; */
  /* overflow-x: hidden; */
  /* overflow: hidden; */
  /* overscroll-behavior: contain; */
}

#activity_panel_slider {
  width: 100%;
  /* height: 100%; */
  height: calc(100% - 100px);
  height: calc(100% - 160px);
  height: calc(100% - 155px);
  /* min-height: 100%; */
  padding-bottom: 50px;
  padding-top: 50px;
  overflow-y: auto;
  overflow-y: scroll;
  transition: top var(--menu-toggle-transition-value);
}

#app.activity_panel_slider_open.modal_open #menu {
  filter: blur(3px) brightness(.7);
}

#addnew_zone {
  height: 0px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  transition: height var(--menu-toggle-transition-value);
}

#addnew {
  /*    transform: translateZ(0);*/
  width: 50px;
  height: 50px;
  /* bottom: 27px; */
  bottom: -25px;
  z-index: 2;
  /*right: 0;*/
  position: absolute;
  cursor: pointer;
  border: thin solid gray;
  border: none;
  border-radius: 50%;
  background-color: #4caf50;
  color: rgba(0, 0, 0, 0.5);
  font-size: xx-large;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /* transition: background-color var(--menu-toggle-transition-value), transform var(--menu-toggle-transition-value), bottom var(--menu-toggle-transition-value); */
  transition: background-color .7s, transform .7s, bottom .7s;
}

.activity_panel_slider_open #addnew {
  /* bottom: -75px; */
  /* bottom: -85px; */
  bottom: -80px;
  transform: rotate(45deg);
  background-color: #3f51b5;
}

.darkmode #addnew {
  background-color: var(--lightdark-addnew-bgc);
}

.darkmode.activity_panel_slider_open #addnew {
  background-color: #3f51b5;
}

/****** notebook panel ******/

#notebook_big_svg_wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

#notebook_big_svg {
  border-radius: 50%;
  padding: 50px;
  background-color: aliceblue;
  height: 100px;
  width: 100px;
  display: inline-block;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  transition: opacity var(--lightdark-transition-value), background-color var(--lightdark-transition-value);
}

.darkmode #notebook_big_svg {
  /* opacity: .4; */
  background-color: thistle;
}


#notebooks_zone_wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  /* background-color: purple; */
}
#notebooks_zone {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 80%;
  /* background-color: purple; */
}

.notebook_section {
  display: flex;
  position: relative;
  margin: 10px;
  background-color: ghostwhite;
  border-radius: 10px;
  border: 3px solid rgb(239, 117, 117);
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 7px 0px rgb(239, 117, 117);
  font-family: 'Cutive Mono';
  /* color: black; */
  overflow: hidden;
}

.darkmode .notebook_section {
  background-color: #525269;
  background-color: #22222c;
  background-color: #2f2f3c;
  border: 3px solid indianred;
  border: 3px solid #843d3d;
  box-shadow: 7px 7px 0px #843d3d;
  /* border: 3px solid #5db09d; */
}

#add_new_notebook {
  width: 100%;
  padding-bottom: 30px;
  filter: drop-shadow( 10px 10px rgba(0, 0, 0, 0.2));

}

#add_new_notebook_btn {
  position: relative;
  width: 100px;
  height: 40px;
  font-size: xx-large;
  border-radius: 5px 0 0 5px;
  background-color: lightgreen;
  color: green;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-left: 40px;
}

.darkmode #add_new_notebook_btn {
  background-color: var(--lightdark-addnew-bgc);
}

#add_new_notebook_btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 40px solid lightgreen;
  border-bottom: 20px solid transparent;
  transition: border-left var(--lightdark-transition-value);
}

.darkmode #add_new_notebook_btn:after {
  border-left: 40px solid var(--lightdark-addnew-bgc);
}

.notebook_section .options {
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: column;
}

.visit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  color: rgba(0,0,0,0.5);
  background-color: lightgreen;
  background-color: #03a9f4;
  height: 50%;
  width: 100%;
  cursor: pointer;
}

.darkmode .visit_btn {
  color: #03a9f4;
  background-color: rgb(30,30,30);
  background-color: #05384f;
}

.settings_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  background-color: lightgray;
  height: 50%;
  width: 100%;
  cursor: pointer;
}

.darkmode .settings_btn {
  color: gray;
  background-color: rgb(30,30,30);
  background-color: rgb(60,60,60);
}

.notebook_summary {
  padding: 10px;
}

#notebookpanel .notebook_section h1 {
  margin: 0;
  font-size: x-large;
}

.notebook_summary_field {
  background-color: lavender;
}

.darkmode .notebook_summary_field {
  background-color: #3d3d51;
  background-color: #313140;
  background-color: #282834;
}

.display_title {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px dashed indianred;
}

.lastupdate_zone,
.yourroles_zone {
  margin-top: 5px;
}

#notebookpanel .notebook_section h2 {
  margin: 0;
  font-size: large;
  display: inline-block;
}

.lastupdate {
  font-weight: lighter;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 1px dashed indianred;
}

.yourroles {
  position: relative;
  height: 30px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: lavender;
  color: #67547d;
  margin: 3px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  transition: background-color var(--lightdark-transition-value), color var(--lightdark-transition-value);
}

.darkmode .yourroles {
  background-color: #67547d;
  background-color: #433751;
  color: lavender;
}

.yourroles.author {
  color: darkgoldenrod;
  background-color: gold;
}

.yourroles.author:after {
  content: "stars";
  font-family: "Material Icons";
}

.yourroles.contributor:after {
  content: "edit";
  font-family: "Material Icons";
}

.yourroles.viewer:after {
  content: "visibility";
  font-family: "Material Icons";
}

.is_default {
  background-color: thistle;
  background-color: #fbd0d9;
  background-color: #fde8ec;
  background-color: MediumSeaGreen;
  background-color: palegreen;
  background-color: lightsteelblue;
  background-color: azure;
  background-color: skyblue;
  background-color: powderblue;
  background-color: lightblue;
  background-color: BlanchedAlmond;
  /* background-color: mintcream; */
  color: rgba(0,0,0,0.2);
}

.darkmode .is_default {
  background-color: #342a2a;
  background-color: #4c8276;
  background-color: #491326;
  background-color: RosyBrown;
}

.is_default.clicked {
  color: crimson;
}
.darkmode .is_default.clicked {
  color: crimson;
  color: #a33333;
}

.is_default_notebook {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  border-radius: 10px 0 0 0;
  cursor: pointer;
}

#composition .is_default_notebook {
  height: 50px;
  width: 50px;
  font-size: 40px;
  border-radius: 20px 0 0 0;
}

#notebook_addedit_wrapper {
  display: flex;
  justify-content: center;
}

#notebook_addedit {
  width: 80%;
}

#return_to_list {
  width: 100%;
  padding-bottom: 30px;
  filter: drop-shadow( 10px 10px rgba(0, 0, 0, 0.2));
}

#return_to_list_btn {
  position: relative;
  background-color: gold;
  background-color: rgb(255,230,118);
  color: black;
  border-radius: 0 3px 3px 0;
  height: 40px;
  cursor: pointer;
  margin-left: 40px;
}

.darkmode #return_to_list_btn {
  background-color: goldenrod;
}

#return_to_list_btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 40px solid gold;
  border-right: 40px solid rgb(255,230,118);
  border-bottom: 20px solid transparent;
  transition: border-right var(--lightdark-transition-value);
}

.darkmode #return_to_list_btn:before {
  border-right: 40px solid goldenrod;
}

#return_to_list_btn:after {
  content: "subdirectory_arrow_left";
  font-family: "Material Icons";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#composition {
  position: relative;
  background-color: ghostwhite;
  border: 3px solid rgb(239, 117, 117);
  border-radius: 20px;
  box-shadow: 6px 6px rgb(239, 117, 117);
  overflow: hidden;
}

.darkmode #composition {
  background-color: #22222c;
  background-color: #2f2f3c;
  border: 3px solid #843d3d;
  box-shadow: 7px 7px 0px #843d3d;
}

#notebook_addedit_title {
  width: 100%;
  padding: 5px;
  font-size: xx-large;
  font-family: 'Cutive Mono';
  border-bottom: 4px dashed rgb(239, 117, 117);
}

.darkmode #notebook_addedit_title {
  border-bottom: 4px dashed indianred;
}

#type_subtype_generation_zone {
  display: flex;
  justify-content: center;
}
#type_subtype_gen_wrapper {
  position: relative;
  /* filter: drop-shadow(4px 4px rgba(0,0,0,0.2)); */
  width: 90%;

}
#type_subtype_gen_wrapper:before {
  content: "";
position: absolute;
height: 100%;
width: 100%;
}

/* .type_gen_zone {
  filter: drop-shadow(4px 4px rgba(0,0,0,0.2));
  padding: 10px;
  border-bottom: 4px solid black;
  outline: 1px solid black;
  margin: 10px;
} */
.type_gen_zone {
  padding: 10px;
  margin: 10px;
  /* min-width: 300px; */
}

.type_gen_wrapper {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* height: 40px; */
  position: relative;
  padding: 10px;
}

/* .subtype_gen_wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  position: relative;
  padding: 5px;
  margin-left: 20px;
} */
.subtype_gen_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height: 40px; */
  padding: 10px;
  padding-top: 0;
  margin-left: 20px;
}

/* .type_gen {
  display: inline-flex;
  align-items: center;
  background-color: lavender;
  position: relative;
  height: 100%;
  min-width: 228px;
  padding-left: 10px;
  padding-right: 10px;
} */
.type_gen {
  display: inline-flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;
  height: 40px;
  width: 100%;
  /* padding-left: 10px; */
  padding-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid lightgray;
}

.darkmode .type_gen {
  border: 2px solid #404040
}


/* .subtype_gen {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: lavender;
  position: relative;
  height: 100%;
  min-width: 228px;
  padding-left: 10px;
  padding-right: 10px;
} */
.subtype_gen {
  display: inline-flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  background-color: lavender;
  position: relative;
  height: 100%;
  height: 40px;
  width: 100%;
  /* padding-left: 10px; */
  padding-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid lightgray;
}

.darkmode .subtype_gen {
  border: 2px solid #404040
}

.type_subtype_optionsdrawer_wrapper {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height .2s;
}

.type_subtype_optionsdrawer_wrapper.open {
  height: 200px;
}

.type_subtype_optionsdrawer {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 0;
  border-radius: 0 0 5px 5px;
  border-left: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  border-right: 2px solid lightgray;
  overflow: hidden;
  box-sizing: border-box;
}

.darkmode .type_subtype_optionsdrawer {
  background-color: rgb(40,42,47);
  border-left: 2px solid #404040;
  border-bottom: 2px solid #404040;
  border-right: 2px solid #404040;
}

.optionsdrawer_top_btns {
  /* display: flex;
  justify-content: flex-end; */
  float: right;
}

.close_optionsdrawer_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

.color_picker_zone {
  display: flex;
}

.color_picker_btn_container {
  /* display: inline-flex; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  padding: 10px;
}

.color_pick_btn {
  height: 25px;
  width: 25px;
  padding: 0;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 0;
  transition: box-shadow .1s;
}

.color_pick_btn.clicked {
  box-shadow: 0 0 0 5px;
}

.add_type_gen_btn,
.add_subtype_gen_btn {
  position: relative;
  display: inline-flex;
  margin: 3px;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  background-color: lightgreen;
  box-shadow: 4px 4px rgb(120, 196, 120);
  color: rgba(0,0,0,0.5);
  cursor: pointer;
}

.darkmode .add_type_gen_btn,
.darkmode .add_subtype_gen_btn {
  background-color: var(--lightdark-addnew-bgc);
  box-shadow: 4px 4px var(--lightdark-addnew-bgc-darker);
}

.add_subtype_gen_btn {
  margin-left: 20px;
}

.add_type_gen_btn:before, .add_subtype_gen_btn:before {
  font-family: 'Open Sans';
  font-size: 16px;
  height: 100%;
}

.add_type_gen_btn:before {
  content: "add type";
}

.add_subtype_gen_btn:before {
  content: "add subtype";
}

.remove_type_gen_btn,
.remove_subtype_gen_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  color: #a33333;
  cursor: pointer;
}

.is_default_type,
.is_default_subtype {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  /* right: 100%; */
  /* height: 30px; */
  height: 100%;
  width: 30px;
  /* border-radius: 10px 0 0 10px; */
  cursor: pointer;
  color: rgba(0,0,0,0.7);
}

.is_default_subtype {
  margin-right: 10px;
}

.type_gen:not(.note_type) .is_default_type {
  margin-right: 10px;
}

.is_note_type {
  height: 25px;
  width: 25px;
  padding: 0;
  /* background-color: goldenrod; */
  color: rgba(0,0,0,0.7);
  color: goldenrod;
  margin: 5px;
  border-radius: 2px;
}

.note_type_btn.is_note_type {
  background-color: #ffc107;
}

/* .orphanable_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  color: rgba(0,0,0,0.3);
  transition: color .1s;
}

.orphanable_btn.clicked {
  color: goldenrod;
} */

.type_subtype_color_btn_container {
  position: relative;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

}

.type_subtype_color_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.5);
  height: 25px;
  width: 25px;
  padding: 0px;
  border-radius: 50%;
  background-color: cadetblue;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 0 0;
  transition: box-shadow .1s;
  /* transition: height .2s, width .2s; */
}

.type_subtype_color_btn:after {
  content: "palette";
  font-family: "Material Icons";
  font-size: x-large;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: rgba(0,0,0,0.5);
}

.type_subtype_color_btn.clicked {
  /* height: 3px;
  width: 3px; */
  box-shadow: 0 0 0 3px;
}


.renaming_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  /* background-color: blue; */
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 rgba(0,0,0,0.3);
  transition: background-color .1s;
  overflow: hidden;
  cursor: pointer;
}

.renaming_btn:after {
  content: "edit";
  font-family: "Material Icons";
  position: absolute;
}

.renaming_btn.renaming { 
  background-color: rgba(0,0,0,0.2);
}
.darkmode .renaming_btn.renaming { 
  background-color: rgba(0,0,0,0.3);
}



.type_subtype_title {
  flex: 1;
  width: 100%;
  margin-right: 10px;
  padding: 1px;
}

.tag_example {
  border-radius: 20px;
  padding-left: 6px;
  padding-right: 6px;
}

#app:not(.darkmode) .tag_example {
  color: rgba(0,0,0,0.5) !important;
  border: 1px solid transparent;
}

.darkmode .tag_example {
  background-color: rgba(0,0,0,0.2) !important;
  border: 1px solid;
}


input.type_subtype_title {
  background-color: ghostwhite;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.darkmode input.type_subtype_title {
  background-color: rgb(32, 33, 36);
  border: 1px solid #404040
}

span.type_subtype_title {
  display: flex;
  border: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
}

#notebook_addedit_confirm {
  height: 100px;
  width: 100px;
  background-color: red;
  /* background-color: transparent; */
}

/****** addeditpanel ******/

#addeditpanel {
  cursor: default;
  /* box-shadow: 30px 30px 30px rgba(0,0,0,0.2); */
}

#addeditpanel.note #addeditpanel-entity, #addeditpanel.note #entity_tagsarea, #addeditpanel.note #addeditpanel-story, #addeditpanel.note #story_tagsarea, #addeditpanel.entity #addeditpanel-note, #addeditpanel.entity #note_tagsarea, #addeditpanel.entity #addeditpanel-story, #addeditpanel.entity #story_tagsarea, #addeditpanel.story #addeditpanel-note, #addeditpanel.story #note_tagsarea, #addeditpanel.story #addeditpanel-entity, #addeditpanel.story #entity_tagsarea {
  display: none;
}

#addeditpanel.edit #type_subtype_zone {
  display: none;
}

#addeditpanel h3 {
  font-weight: lighter;
  padding-left: 20px;
}

.addeditpanel_field_zone {
  display: flex;
  justify-content: center;
}

.addeditpanel_field_wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #7e7e7e;
  border: 1px solid #5f6368;
  border-radius: 3px;
  border-radius: 5px;
  outline: none;
}

.addeditpanel_field_wrapper:focus-within {
  box-shadow: 0 0 0 2pt lightblue;
  /* "outline" */
}

.darkmode .addeditpanel_field_wrapper:focus-within {
  box-shadow: 0 0 0 2pt #0086b1;
  box-shadow: 0 0 0 2pt #53ccf3;
  box-shadow: 0 0 0 2pt #03A9F4;
  box-shadow: 0 0 0 2pt #4b7486;
  box-shadow: 0 0 0 2pt #a3788c;
}

.addeditpanel_field {
  resize: none;
  width: calc(100% - 20px);
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
}

.title_descr_padding_wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.addeditpanel_field.title_area {
  padding: 0;
  font-size: x-large;
  /* outline: 1px solid red; */
}

.addeditpanel_field.descr_area {
  padding: 0;
  /* outline: 1px solid red; */
}

textarea.addeditpanel_field {
  overflow: hidden;
}

.test_btn_area {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
}

.test_btn_area button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  margin: 3px;
  vertical-align: middle;
  transition: background-color .2s, color var(--lightdark-transition-value);
  cursor: pointer;
  color: #5b5b5b;
}

.darkmode .test_btn_area button {
  color: #e1e1e2;
}

.addedittag_zone {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* min-height: 50px; */
}

.addedittag_zone div.search {
  flex: 1;
  min-width: 100px;
  margin-left: 1px;
}

.addedittag_zone div.search .border {
  position: relative;
  border: none;
  background-color: transparent;
}

.add_descr_ranges_zone {
  /* height: 0; */
  overflow: hidden;
  transition: height .2s;
  border-radius: 0 0 5px 5px;
  word-break:break-all;
  white-space: pre-wrap;
}

.add_descr_ranges {
  padding: 10px;
  padding: 15px;
  border-top: 1px solid #5f6368;
  background-color: rgba(0, 0, 0, 0.1);
  color: inherit;
  cursor: crosshair;
  /* transition: color var(--lightdark-transition-value); */
  /* line-height: 2; */
}

/* .darkmode .add_descr_ranges {
  color: lightgray;
} */

.add_descr_ranges::selection { background-color: white;}

mark.ranges_mark {
  position: relative;
  border-radius: 3px;
  /* padding-left: 1px;
  padding-right: 1px; */
}

mark.ranges_mark .clearbtn {
  display: none;
  position: absolute;
  /* top: -10px; */
  top: -15px;
  left: -15px;
  height: 18px;
  width: 18px;
  font-size: 100%;
  background-color: inherit;
  background-color: darkgray;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.darkmode mark.ranges_mark .clearbtn {
  background-color: white;
  color: black;
}

.add_descr_ranges mark.ranges_mark::selection {
  background-color: white !important;
}

/* mark.ranges_mark:hover .clearbtn,
mark.ranges_mark:focus .clearbtn {
  display: initial;
} */
.add_descr_ranges:hover .clearbtn,
.add_descr_rangesmark:focus .clearbtn {
  display: initial;
}

/***** .typebtn & .subtypebtn *****/

#type_subtype_selection {
  /* padding-top: 65px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#type_subtype_btns {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typebtn {
  width: 50%;
  position: relative;
  background-color: rgb(0, 0, 0, 0.1);
  padding: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.typebtn:before {
  font-family: "Material Icons";
  content: "crop_din";
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: calc(0px - 50px);
  height: 100%;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color var(--lightdark-transition-value);
}

.darkmode .typebtn:before {
  background-color: rgba(255, 255, 255, 0.1);
}

.typebtn.checked:before {
  content: "done";
}

.subtype_zone {
  height: 0px;
  width: 50%;
  position: relative;
  background-color: rgb(0, 0, 0, 0.1);
  overflow: hidden;
  transition: height .2s;
}

.subtype_zone:before {
  content: "";
  position: absolute;
  /* border-top: 1px solid rgba(0,0,0,0.2); */
  border-top: thin solid rgba(0, 0, 0, 0.2);
  width: 95%;
  left: 50%;
  transform: translate(-50%);
  transition: border-color var(--lightdark-transition-value);
}

.darkmode .subtype_zone:before {
  border-color: rgba(255, 255, 255, 0.1);
}

.typebtn.checked+.subtype_zone {
  /*    height: 100px;*/
  position: relative;
  background-color: rgb(0, 0, 0, 0.1);
}

.subtype_parent_flex {
  padding-top: 5px;
  padding-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.subtypebtn {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
}

.subtypebtn:before {
  font-family: "Material Icons";
  content: "crop_din";
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
}

.subtypebtn.checked:before {
  content: "done";
}

/** border-radius stuff **/
/* .typebtn {
  border-radius: 0 5px 5px 0;
}
.typebtn:before {
  border-radius: 5px 0 0 5px;
}
.typebtn.checked {
  border-radius: 0 5px 0 0;
}
.typebtn.checked+.subtype_zone {
  border-radius: 0 0 5px 5px;
} */

/***** modal *****/

#modal {
  padding: 30px;
  background-color: rgb(215, 215, 215);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  /*    height: 100px;*/
  border-radius: 5px;
  max-height: 80%;
  overflow-y: auto;
}

.darkmode #modal {
  background-color: rgb(40, 40, 40);
}

#modal h3 {
  font-weight: lighter;
}

#modal h4 {
  font-weight: lighter;
  text-align: center;
}

.modal_show_tag_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  /*    width: 90%;*/
  background: repeating-linear-gradient( -53deg, #ccc, #ccc 3px, #bbb 3px, #bbb 6px);
  background: repeating-linear-gradient( -55deg, #999, #999 3px, #aaa 3px, #aaa 6px);
}

.darkmode .modal_show_tag_area {
  background: repeating-linear-gradient( -55deg, #222, #222 3px, #1e1e1e 3px, #1e1e1e 6px);
}

.modal_show_inlineblock_wrapper {
  display: flex;
  justify-content: center;
}

#proposed_tag_value {
  padding: 3%;
}

.dummy_tag_btn {
  cursor: pointer;
  border-radius: 8px;
  vertical-align: bottom;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.dummy_tag_btn:not(:first-child) {
  margin-top: 5px;
}

.dummy_tag_btn.selected {
  box-shadow: 0 0 0 2pt #2196F3;
}

#modal_btns {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

#modal_btns button {
  cursor: pointer;
}

#modal_btns button:focus {
  box-shadow: 0 0 0 2pt #5cb7ff;
  border-radius: 3px;
}

/****** addedit_save_btn ******/

#addeditpanel_save_section {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

#addedit_save_btn {
  /* width: 30%; */
  /* text-align: left; */
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #4caf50;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: x-large;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.darkmode #addedit_save_btn {
  background-color: var(--lightdark-addnew-bgc);
}

/* #addedit_save_btn.inactive {
  cursor: default;
  color: rgba(0,0,0,0.3);
} */

#addedit_save_btn:before {
  content: "cloud_upload";
  font-family: "Material Icons";
  font-size: xx-large;
  /* margin-right: 15px; */
  /* margin-right: 50%; */
  float: left;
  padding-right: 10px;
}

/* .small_button.material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small_button.material-icons:after {
  background-color: rgba(0,0,0,0.05);
  border-radius: 50px;
  position: absolute;
  content: "";
  height: 1px;
  width: 1px;
  transition: background-color .05s, height .05s, width .05s;
}
.small_button.material-icons:hover:after {
  height: 20px;
  width: 20px;
} */

/****** TESTING ******/

/****** mobile ******/

@media screen and (max-width: 850px) {
  #header-search {
    padding: 0;
  }
  #header-search input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #header-search .result .match {
    padding-left: 5px;
  }
  section#page_subject {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  #type_subtype_btns {
    width: 100%;
  }
  .typebtn {
    width: 95%;
  }
  .typebtn:before {
    left: 0;
  }
  .subtype_zone {
    width: 95%;
  }
  .subtypebtn {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .subtype_zone:before {
    width: 50%;
  }
  #addedit_save_btn {
    width: 75%;
  }

  #notebook_addedit {
    width: 95%;
  }

  #type_subtype_gen_wrapper {
    width: 100%;
  }

  .type_gen_zone {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 850px) {
  /*** scrollbar ***/
  /* This sets the -webkit-scrollbar width for the elements that use it, accessible by getScrollBarWidth() */
  div::-webkit-scrollbar, #activity_panel_slider::-webkit-scrollbar, #page-wrapper::-webkit-scrollbar, #modal::-webkit-scrollbar {
    width: 12px;
    transition: background-color var(--lightdark-transition-value);
  }
  div::-webkit-scrollbar-thumb, #activity_panel_slider::-webkit-scrollbar-thumb, #page-wrapper::-webkit-scrollbar-thumb, #modal::-webkit-scrollbar-thumb {
    transition: background-color var(--lightdark-transition-value);
  }
  #page-wrapper::-webkit-scrollbar {
    background-color: white;
    background-color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
  }
  #page-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
  }
  .darkmode #page-wrapper::-webkit-scrollbar {
    background-color: rgb(25, 25, 25);
    background-color: rgb(30, 30, 30);
    background-color: transparent;
  }
  .darkmode #page-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
  }
  #activity_panel_slider::-webkit-scrollbar {
    background-color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.2);
    background-color: lightgray;
    background-color: transparent;
  }
  #activity_panel_slider::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
  }
  .darkmode #activity_panel_slider::-webkit-scrollbar {
    background-color: rgb(30, 30, 30);
    background-color: rgb(32, 33, 36);
    background-color: transparent;
  }
  .darkmode #activity_panel_slider::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
  }
  #modal::-webkit-scrollbar {
    background-color: rgb(215, 215, 215);
  }
  #modal::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .darkmode #modal::-webkit-scrollbar {
    background-color: rgb(40, 40, 40);
  }
  .darkmode #modal::-webkit-scrollbar-thumb {
    background-color: rgb(30, 30, 30);
  }
  .single_note:hover {
    background-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.075);
    background-color: rgba(0, 0, 0, 0.03);
    background-color: rgba(0, 0, 0, 0.05);
  }
  .darkmode .single_note:hover {
    background-color: rgba(255, 255, 255, 0.06);
    background-color: rgba(255, 255, 255, 0.03);
  }
  .single_note:hover .edit_context_btn {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .darkmode .single_note:hover .edit_context_btn {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .single_note:hover .edit_context_btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .darkmode .single_note:hover .edit_context_btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .test_btn_area button:hover {
    background-color: #c6c6c6;
  }
  .darkmode .test_btn_area button:hover {
    background-color: #313236;
  }
  .cleartag_btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .search .result:hover {
    background-color: #ededed;
  }
  .search .result:hover:active {
    background-color: lightgray;
  }
  .darkmode .search .result:hover {
    background-color: rgb(49, 50, 53);
  }
  .darkmode .search .result:hover:active {
    background-color: rgb(63, 65, 67);
  }
  .search .result.selected:hover {
    background-color: lightgray;
  }
  .darkmode .search .result.selected:hover {
    background-color: rgb(63, 65, 67);
  }



  


}

/* TODO: 

- (DONE) utlimately modify height of addedit panel such that it is as high as it needs to be, and not fixed by css height 

*/




/* #path2158 {
  transform: translate(0px,0px);
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#path2160 {
  transform: translate(0px,0px);
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#path2162 {
  transform: translate(0px,0px);
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#path2164 {
  transform: translate(0px,0px);
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#path2166 {
  transform: translate(0px,0px);
  transform: translate(0px,-5px);
}
#path2168 {
  transform: translate(0px,0px);
  transform: translate(0px,-9px);
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#path2170 {
  transform: translate(0px,0px);
  transform: translate(0px,-14px);
  animation-duration: 2s;
} */








:root {
  --animation_timing: linear;
  --animation_duration: 1s;
}


#path2166 {
  transform: translate(0px,0px);
  animation-name: g;
  animation-duration: var(--animation_duration);
  animation-direction: alternate;
  animation-timing-function: var(--animation_timing);
  animation-iteration-count: infinite;
}
/* #path1394 {
  transform: translate(0px,0px);
  animation-name: g;
  animation-duration: var(--animation_duration);
  animation-direction: alternate;
  animation-timing-function: var(--animation_timing);
  animation-iteration-count: infinite;
} */
#path2168 {
  transform: translate(0px,0px);
  animation-name: h;
  animation-duration: var(--animation_duration);
  animation-direction: alternate;
  animation-timing-function: var(--animation_timing);
  animation-iteration-count: infinite;
}
#path2170 {
  transform: translate(0px,0px);
  animation-name: i;
  animation-duration: var(--animation_duration);
  animation-direction: alternate;
  animation-timing-function: var(--animation_timing);
  animation-iteration-count: infinite;
}

@keyframes g {
  from {transform: translate(0px,0px);}
  to {transform: translate(0px,-5px);}
}
@keyframes h {
  from {transform: translate(0px,0px);}
  to {transform: translate(0px,-9px);}
}
@keyframes i {
  from {transform: translate(0px,0px);}
  to {transform: translate(0px,-14px);}
}



/* #path2158 {
  transform: translate(0px,0px);
  animation-name: a;
  animation-duration: var(--animation_duration);
  animation-direction: alternate;
  animation-timing-function: var(--animation_timing);
  animation-iteration-count: infinite;
}
#path2160 {
  transform: translate(0px,0px);
  animation-name: b;
  animation-duration: var(--animation_duration);
  animation-direction: alternate;
  animation-timing-function: var(--animation_timing);
  animation-iteration-count: infinite;
}
#path2162 {
  transform: translate(0px,0px);
  animation-name: c;
  animation-duration: var(--animation_duration);
  animation-direction: alternate;
  animation-timing-function: var(--animation_timing);
  animation-iteration-count: infinite;
}
#path2164 {
  transform: translate(0px,0px);
  animation-name: d;
  animation-duration: var(--animation_duration);
  animation-direction: alternate;
  animation-timing-function: var(--animation_timing);
  animation-iteration-count: infinite;
}
#path2166 {
  transform: translate(0px,0px);
}
#path2168 {
  transform: translate(0px,0px);
  animation-name: e;
  animation-duration: var(--animation_duration);
  animation-direction: alternate;
  animation-timing-function: var(--animation_timing);
  animation-iteration-count: infinite;
}
#path2170 {
  transform: translate(0px,0px);
  animation-name: f;
  animation-duration: var(--animation_duration);
  animation-direction: alternate;
  animation-timing-function: var(--animation_timing);
  animation-iteration-count: infinite;
} */

/* transform: translate(-2px,-6px); */




@keyframes a {
  from {transform: translate(0px,0px);}
  to {transform: translate(0px,7px);}
}
@keyframes b {
  from {transform: translate(0px,0px);}
  to {transform: translate(-1px,8px);}
}
@keyframes c {
  from {transform: translate(0px,0px);}
  to {transform: translate(-1px,8px);}
}
@keyframes d {
  from {transform: translate(0px,0px);}
  to {transform: translate(-1px,7px);}
}
@keyframes e {
  from {transform: translate(0px,0px);}
  to {transform: translate(-2px,-1px);}
}
@keyframes f {
  from {transform: translate(0px,0px);}
  to {transform: translate(-2px,-5px);}
}