/* pretty aesthetic */

#type_subtype_gen_wrapper:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: aqua;
  }
  
.type_gen_section {
    filter: drop-shadow(4px 4px rgba(0,0,0,0.2));
    padding: 10px;
    border-bottom: 4px solid black;
    outline: 1px solid black;
    margin: 10px;
    min-width: 300px;
  }